@import "@fancyapps/ui/dist/fancybox/fancybox.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.font-face{
  font-family: "HelveticaNowDisplay-Regular";
}
.font-face-bold {
  font-family: "HelveticaNowDisplay-Bold";
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --primary-color: #BF2022ff;
  --secondary-color: #1C1E1Bff;
  --neutral-color: #ffffff;
}

/*COLOR PALETTE FROM PRODUCT:
--primary-color:#BF2022ff
--secondary-color: #1C1E1Bff
--neutral-color: #ffffff
*/

.button-product{
  background-color: var(--primary-color);
  color: var(--neutral-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.button-product:hover {
  background-color: var(--secondary-color);
  color: var(--neutral-color);
}

.benefict{
  background-color: var(--secondary-color);
  background-color: #000;
  color: var(--neutral-color);
}
.benefict p{
  color: gray;
}
.carousel {
  height: 100vh;
}

.bg-image-container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.landing-text{
  font-size: 3.5rem !important;
  color:#fff;
  
}
.carousel-caption {
  text-align: center;
}
.button-landing {
  font-size: 1.5rem !important;
  background-color: #000;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-landing:hover,
.button-landing:focus {
  background-color: #333;
}

.button-landing:active {
  background-color: #555;
}


.custom-image {
  max-width: 500px;
  width: auto;
}
.icon-beat {
  color: var(--primary-color);
  
}
.section-navbar {
  height: calc(100vh - 76px);
  margin-top: 76px !important;
  
}
.gallery-navbar{
  margin-top: 76px !important;
  min-height: calc(100vh - 76px);
}
.btn-clicked:active{
  background-color: #000 !important;
  color:#fff !important;
}

.btn-clicked-link:active{
  
  color:#fff !important;
}


.galleryContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease; /* Transición de opacidad */
}

.galleryContainer.hide {
  opacity: 0; /* Opacidad a 0 para ocultar las imágenes */
}



.col-hover:hover .title-overlay {
  display: block;
}

.title-overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.modal-header{
  background-color: #000;
  color: #fff;
}
.modal{
  background-color: rgba(0, 0, 0, 0.7); 
}

.span-modal{
  background-color: #000;
  
}
.clasesContainer {
  margin-top: 76px !important;
}
.contactContainer {
  margin-top: 76px !important;
}
.horariosContainer {
  margin-top: 76px !important;
  min-height: 100vh;
}
.sectionContainer {
  margin-top: 76px !important;
}
.horario-td{
  text-align: center;
 
}
.horario-img{
   max-width: 100px;
  max-height: 75px;
}

.carta-navbar{
  margin-top: 76px !important;
 
  
}
.team-img{
  max-width: 500px !important;
}
.section-sucursales{
  margin-top: 76px !important;
}
.sucursal-map{
  min-width: 200px;
  
  min-height: 300px;
}